* {
    box-sizing: border-box;
}

:root{
    --text-color-primary: #262626;
    --text-color-secondary: #7b7b79;
    --primary-color: #246175;
    --bg-secondary-color: #f1f1f1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color-primary);
}

img {
    max-width: 100%;
}

button {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.navbar  {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar__small-text {
    display: block;
    font-size: 14px;
    color: var(--text-color-secondary);
    text-decoration: none ;
}

.navbar-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
}

.navbar__mobile, .navbar__landline {
    text-align: right;
    text-decoration: none;
}

.navbar__button:hover {
    transform: scale(1.1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar__phone {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color-secondary);
    font-size: 19px;
}

.menu-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid rgba(25, 58, 75, 0.1);
    border-left: 1px solid rgba(25, 58, 75, 0.1);
    height: 80px;
    width: 70px;
}

.menu-button__line {
    display: block;
    background-color: #193a4b;
    height: 3px;
    width: 20px;
    margin: 2px 0;
}

.navbar__menu-button {

}

.navbar__phone {
    font-size: 19px;
    font-weight: bold;
}

.logo__text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase ;
}

.logo__description {
    display: block;
    font-size: 14px;
    color: var(--text-color-secondary);
    font-weight: bold;
    text-transform: lowercase ;
}

.button {
    display: block;
    background-color: #193a4b;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 21px;
}

.button-o {
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    padding: 17px 22px;
    text-transform: uppercase;
}

.preview {
    position: relative;
    display: block;
    padding-top: 200px;
    padding-bottom: 270px;
    height: 600px;
}

.preview::after {
    content: "";
    background: #f1f1f1 url("../../assets/image/showcase.jpg") no-repeat center;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -50;
}

.preview-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.preview__subtitle {
    display: block;
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: bold;
}

.preview__button {
    display: block;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    padding: 25px 45px;
    background-color: var(--primary-color);
    color: white;
}

.preview__button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    text-shadow: 1px 1px 2px #427388;
}

#submit-button:hover {
    transform: scale(1.1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

select.minimal {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(2em + 2px),
            calc(100% - 15px) calc(2em + 2px);
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

.menu {
    background-color: var(--primary-color);
    position: fixed;
    top: 80px;
    padding: 16px 0;
    left: 0;
    transform: translateY(100%);
    transition: 0.2s;
    width: 100%;
    z-index: -10;
}

.menu_active {
    transform: translateY(0);
    z-index: 1000;
}

.menu_inactive {
    transform: translateY(-100%);
    z-index: 1000;
}

.menu__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
}

.menu__link {
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

.menu__link:hover {
    transform: scale(1.1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 991px) {
    .navbar__mobile, .navbar__landline {
        display: none;
    }

    .preview {
        background-size:  cover;
    }
}

@media (max-width: 576px) {
    .logo {
        display: none;
    }

    .button-o {
        font-size: 10px;
    }

    .menu__nav {
        flex-direction: column;
    }

    .menu__link  {
        margin-bottom: 20px;
    }

    .section {
        padding: 60px 0;
    }

    .section-title {
        font-size: 24px;
    }
}

.bg-secondary {
    background-color: var(--bg-secondary-color);
}

.offer {
    padding: 129px 0;
}

.offer-block {
    background-color: white;
    padding: 80px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.about-block {
    background-color: white;
    padding: 80px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.offer__title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.offer__subtitle {
    display: block;
    font-size: 21px;
    margin-bottom: 48px;
}

.form__row {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.form__row:last-child {
    margin-bottom: 0;
}

.form__label {
    display: block;
    font-size: 17px;
    margin-bottom: 15px;
}

.form__group {
    flex-basis: 33.3%;
}

.form__input {
    border: 1px solid #dddddd;
    border-right: none;
    width: 100%;
}

.form__group:last-child .form__input  {
    border-right: 1px solid #dddddd;
}

.form__button {
    height: 80px;
    width: 100%;
}

.input {
    height: 80px;
    padding-left: 30px;
    width: 100%;
}

.checkbox {
    visibility: hidden;
}

input[type="checkbox"]:checked + label:before {
    background-color: var(--primary-color);
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 42px;
}

.checkbox-label:hover {
    cursor: pointer;
}

.checkbox-label:before {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .form__input {
        border-right: 1px solid #dddddd;
    }

    .offer-block {
        padding: 40px;
    }

    .about-block {
        padding: 40px;
    }

    .offer__title {
        font-size: 18px;
    }

    .offer__subtitle {
        font-size: 16px;
    }

    .form__row {
        flex-direction: column;
    }

    .form__row-checkbox {
        flex-direction: row;
    }

    .form__group {
        flex-basis: 100%;
        width: 100%;
    }

    .form__input {
        margin-bottom: 20px;
    }
}

.section {
    padding: 100px 0;
}

.section-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.section__title {
    margin-bottom: 100px;
}

.features {
    background-color: var(--primary-color);
    color: white;
}

.feaures-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-block__image {
    width: 60px;
}

.feature-block__item {
    flex-basis: 33%;
    text-align: center;
    margin-bottom: 100px;
}

.feature-block__item:hover {
    transform: scale(1.3);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 991px) {
    .feature-block__item {
        flex-basis: 50%
    }
}

@media (max-width: 768px) {
    .feature-block__item {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}

.catalog-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-card {
    max-height: 260px;
    max-width: 570px;
    overflow: hidden;
    position: relative;
}

.catalog__card {
    margin: 0 5px 30px 5px;
}

.catalog__link {
    display: block;
    margin: auto;
    text-align: center;
    height: 80px;
    width: 500px;
}

.catalog__link:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    text-shadow: 1px 1px 2px #427388;
}

.button_lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.factory-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.factory-block__image {
    margin: 20px 0;
    width: 25%;
}

.factory-block__text {
    margin-top: 20px;
    flex-basis: 50%;
    font-size: 20px;
    margin-left: 70px;
    text-align: justify;
    text-indent: 20px;
}

.factory-block__text p {
    margin-top: 0;
}

.contacts-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 30px 80px 0;
}

.contacts-block__item:hover {
    transform: scale(1.1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.contacts-block__item {
    text-align: center;
}

.contacts__image {
    width: 50px;
    margin-bottom: 25px;
}

.contacts__text {
    font-size: 16px;
}

.contacts__link {
    color: var(--text-color-secondary);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.questions__title {
    font-size: 30px;
    font-weight: bold;
}

.questions__link {
    font-size: 24px;
}

.questions__link:hover {
    margin-top: 10px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.questions-block {
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.questions-block a {
    color: #767676;
}

.footer {
    padding: 40px 0;
    background-color: #262626;
    color: white;
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: white;
}

.footer__title {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer__copy {
    color: #767676;
}

.footer__pay-info {
    margin: 15px;
}

.footer__pay-logo {
    width: 55px;
}

.footer__contacts {
    text-align: center;
}

.footer__phone {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer__mail {
    display: block;
    margin-bottom: 20px;
}

.footer__subtitle {
    display: block;
    margin-bottom: 48px;
}

.md-stepper-horizontal {
    display:table;
    width:100%;
    margin:0 auto;
    background-color:#FFFFFF;
}
.md-stepper-horizontal .md-step {
    display:table-cell;
    position:relative;
    padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
    background-color:rgba(0,0,0,0.04);
    transition: all 1050ms cubic-bezier(0.19, 1, 0.22, 1);
}
.md-stepper-horizontal .md-step:active {
    border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
    background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
    width:30px;
    height:30px;
    margin:0 auto;
    background-color:#999999;
    border-radius: 50%;
    text-align: center;
    line-height:30px;
    font-size: 16px;
    font-weight: 600;
    color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
    background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
    background-color: var(--primary-color);
}
.md-stepper-horizontal .md-step.active .md-step-circle {
    background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
    font-family:'FontAwesome';
    font-weight:100;
    content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
    display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
    font-family:'FontAwesome';
    font-weight:100;
    content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
    margin-top:16px;
    font-size:16px;
    font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
    text-align: center;
    color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
    font-weight: 600;
    color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
    font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
    font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
    color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
    position:absolute;
    top:36px;
    height:1px;
    border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
    right:0;
    left:50%;
    margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
    left:0;
    right:50%;
    margin-right:20px;
}

@media (max-width: 1199px){
    .container {
        max-width: 962px;
    }

    .catalog-card {
        max-width: 470px;
        max-height: 260px;
        overflow: hidden;
    }

    .catalog-block {
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }

    .md-stepper-horizontal .md-step {
        display:block;
        position:relative;
        padding:24px;
    }

    .md-step-bar-left, .md-step-bar-right {
        display: none;
    }

    .factory-block {
        flex-direction: column;
    }

    .factory-block__image {
        margin: auto;
    }

    .factory-block__text {
        margin-left: 0;
    }

    .catalog__link {
        width: auto;
    }

    .contacts-block__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__contacts {
        margin-top: 30px;
        text-align: center;
    }

    .footer__block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

